<lift:surround with="default" at="content">
    <lift:MaticniPodaciSnippet.create form="POST">
        <div class="column span-24">
            <div id="entryform">
                <table class="tablesorter">
                    <thead>
                    <th><td>Novi unos: MATICNI PODACI</td></th>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Sifra</td>
                        <td>
                            <mpod:id/>
                        </td>
                    </tr>
                    <tr>
                        <td>Naziv</td>
                        <td>
                            <mpod:naziv/>
                        </td>
                    </tr>
                    <tr>
                        <td>Telefon</td>
                        <td>
                            <mpod:telefon/>
                        </td>
                    </tr>
                    <tr>
                        <td>Odgovorna Osoba</td>
                        <td>
                            <mpod:odgovornaOsoba/>
                        </td>
                    </tr>
                    <tr>
                        <td>Fax</td>
                        <td>
                            <mpod:fax/>
                        </td>
                    </tr>
                    <tr>
                        <td>Ziro Racun</td>
                        <td>
                            <mpod:ziroracun/>
                        </td>
                    </tr>
                    <tr>
                        <td>OIB</td>
                        <td>
                            <mpod:oib/>
                        </td>
                    </tr>
                    <tr>
                        <td>Adresa</td>
                        <td>
                            <mpod:adresa/>
                        </td>
                    </tr>
                    <tr>
                        <td>Mjesto</td>
                        <td>
                            <mpod:mjesto/>
                        </td>
                    </tr>
                    <tr>
                        <td/>
                        <td>
                            <div class="button" align="center">
                                <mpod:create/>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </lift:MaticniPodaciSnippet.create>
</lift:surround>

