<lift:surround with="default" at="content">
  <div class="column span-24">
    <h3>Lista Maticnih Podataka:</h3>
    <div id="entryform">
      <table>
          <thead>
        <tr>
	        <th>Sifra</th>
	        <th>Naziv</th>
            <th>Telefon</th>
            <th>Odgovorna Osoba</th>
            <th>Fax</th>
            <th>Ziro Racun</th>
            <th>OIB</th>
            <th>Adresa</th>
            <th>Mjesto</th>
            <th>Akcije</th>
        </tr>
          </thead>
          <tbody>
        <lift:MaticniPodaciSnippet.manage>
        <maticniPodaci:entry>
	      <tr>
	        <td><mpod:id /></td>
	        <td><mpod:naziv /></td>
              <td><mpod:telefon /></td>
              <td><mpod:odgovornaOsoba /></td>
              <td><mpod:fax /></td>
              <td><mpod:ziroracun /></td>
              <td><mpod:oib /></td>
              <td><mpod:adresa /></td>
              <td><mpod:mjesto /></td>
            <td><div class="button"><mpod:actions /></div></td>
	      </tr>
        </maticniPodaci:entry>
        </lift:MaticniPodaciSnippet.manage>
          </tbody>
      </table>
      </div>
    <br />

      <div class="button">
     <lift:Menu.item name="CreateMaticniPodaci">create</lift:Menu.item>
      </div>

  </div>

</lift:surround>
