<lift:surround with="default" at="content">
    <lift:RazdjelSnippet.create form="POST">
        <div class="column span-24">
            <div id="entryform">
                <table class="tablesorter">
                    <thead>
                    <th>Novi unos: RAZDJEL</th>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Sifra</td>
                        <td>
                            <raz:id/>
                        </td>
                    </tr>
                    <tr>
                        <td>Naziv Razdjela</td>
                        <td>
                            <raz:nazivRazdjela/>
                        </td>
                    </tr>
                    <tr>
                        <td/>
                        <td>
                            <div class="button" align="center">
                                <raz:create/>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </lift:RazdjelSnippet.create>
</lift:surround>

