<lift:surround with="default" at="content">
    <lift:RazdjelSnippet.edit form="POST">
        <div class="column span-24">
            <div id="entryform">
                <table class="tablesorter">
                    <thead>
                    <th>Uredi: RAZDJEL</th>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Sifra</td>
                        <td>
                            <raz:id/>
                        </td>
                    </tr>
                    <tr>
                        <td>Naziv Razdjela</td>
                        <td>
                            <raz:nazivRazdjela/>
                        </td>
                    </tr>
                    <tr>
                        <td/>
                        <td>
                            <div class="button" align="center">
                                <raz:save/>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </lift:RazdjelSnippet.edit>
</lift:surround>