<lift:surround with="default" at="content">
  <div class="column span-24">
    <h3>Razdjel lista:</h3>
    <div id="entryform">
      <table>
          <thead>
        <tr>
	        <th>Sifra</th>
	        <th>Naziv Razdjela</th>
            <th>Akcije</th>
        </tr>
          </thead>
          <tbody>
        <lift:RazdjelSnippet.manage>
        <razdjel:entry>
	      <tr>
	        <td><raz:id /></td>
	        <td><raz:nazivRazdjela /></td>
            <td><div class="button"><raz:actions /></div></td>
	      </tr>
        </razdjel:entry>
        </lift:RazdjelSnippet.manage>
          </tbody>
      </table>
      </div>
    <br />

      <div class="button">
     <lift:Menu.item name="CreateRazdjel">create</lift:Menu.item>
      </div>

  </div>

</lift:surround>
