<lift:surround with="default" at="content">
    <lift:GlavaSnippet.create form="POST">
        <div class="column span-24">
            <div id="entryform">
                <table class="tablesorter">
                    <thead>
                    <th>Novi unos: GLAVA</th>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Sifra</td>
                        <td>
                            <gl:id/>
                        </td>
                    </tr>
                    <tr>
                        <td>Naziv</td>
                        <td>
                            <gl:nazivGlave/>
                        </td>
                    </tr>
                    <tr>
                        <td>Razdjel</td>
                        <td>
                            <gl:nazivRazdjela/>
                        </td>
                    </tr>
                    <tr>
                        <td/>
                        <td>
                            <div class="button" align="center">
                                <gl:create/>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </lift:GlavaSnippet.create>
</lift:surround>
