<lift:surround with="default" at="content">
    <lift:GlavaSnippet.edit form="POST">
        <div class="column span-24">
            <div id="entryform">
                <table class="tablesorter">
                    <thead>
                    <th>Uredi: GLAVA</th>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Sifra</td>
                        <td>
                            <gl:id/>
                        </td>
                    </tr>
                    <tr>
                        <td>Naziv</td>
                        <td>
                            <gl:nazivGlave/>
                        </td>
                    </tr>
                    <tr>
                        <td>Razdjel</td>
                        <td>
                            <gl:nazivRazdjela/>
                        </td>
                    </tr>
                    <tr>
                        <td/>
                        <td>
                            <div class="button" align="center">
                                <gl:save/>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </lift:GlavaSnippet.edit>
</lift:surround>