<lift:surround with="default" at="content">
  <div class="column span-24">
    <h3>Glava lista:</h3>
    <div id="entryform">
      <table>
          <thead>
        <tr>
	        <th>Sifra</th>
	        <th>Naziv</th>
            <th>Razdjel</th>
            <th>Akcije</th>
        </tr>
          </thead>
        <tbody>
        <lift:GlavaSnippet.manage>
        <glava:entry>
	      <tr>
	        <td><gl:id /></td>
	        <td><gl:nazivGlave /></td>
            <td><gl:nazivRazdjela /></td>
              <td><div class="button"><gl:actions /></div></td>
	      </tr>
        </glava:entry>
        </lift:GlavaSnippet.manage>
        </tbody>
      </table>
      </div>
    <br />

      <div class="button"><lift:Menu.item name="CreateGlava">create</lift:Menu.item></div>

  </div>

</lift:surround>
