<lift:surround with="default" at="content">
  <div class="column span-24">
    <h3>Izvor financiranja lista:</h3>
    <div id="entryform">
      <table>
          <thead>
          <tr>
              <th>Sifra</th>
              <th>Naziv</th>
              <th></th>
          </tr>
          </thead>
          <tbody>
        <lift:IzvorFinSnippet.manage>
        <izvorfin:entry>
            <tr>
                <td><izfin:id /></td>
                <td><izfin:naziv /></td>
                <td><div class="button"><izfin:actions /></div></td>
            </tr>
        </izvorfin:entry>
        </lift:IzvorFinSnippet.manage>
          </tbody>
      </table>
      </div>
    <br />

      <div class="button"><lift:Menu.item name="CreateIzvorFinanciranja">create</lift:Menu.item></div>
  </div>

</lift:surround>
