<lift:surround with="default" at="content">
    <lift:ProgramSnippet.edit form="POST">
        <div class="column">
            <div id="entryform">
                <table class="tablesorter">
                    <thead>
                    <th>Uredi: PROGRAM</th>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Id</td>
                        <td>
                            <prog:id/>
                        </td>
                    </tr>
                    <tr>
                        <td>Naziv</td>
                        <td>
                            <prog:naziv/>
                        </td>
                    </tr>
                    <tr>
                        <td>Opis</td>
                        <td>
                            <prog:opis/>
                        </td>
                    </tr>
                    <tr>
                        <td>Opci cilj</td>
                        <td>
                            <prog:opciCilj/>
                        </td>
                    </tr>
                    <tr>
                        <td>Pokazatelj uspjeha</td>
                        <td>
                            <prog:pokazateljUspijeha/>
                        </td>
                    </tr>
                    <tr>
                        <td>Zakonska osnova</td>
                        <td>
                            <prog:zakonskaOsnova/>
                        </td>
                    </tr>
                    <tr>
                        <td>Broj zaposlenih</td>
                        <td>
                            <prog:brojZaposlenih/>
                        </td>
                    </tr>
                    <tr>
                        <td>Glavni program</td>
                        <td>
                            <prog:glavniProgram/>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <div class="button" align="center">
                                <prog:save/>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </lift:ProgramSnippet.edit>
</lift:surround>