<lift:surround with="default" at="content">
  <div class="column" align="center">
    <h3>Program lista:</h3>
    <div id="entryform" >
      <table>
          <thead>
        <tr>
	        <th width="70">Id</th>
	        <th width="100">Naziv</th>
            <th width="100">Opis</th>
            <th width="100">Opci cilj</th>
            <th width="130">Pokazatelj uspijeha</th>
            <th width="130">Zakonska osnova</th>
            <th width="130">Broj zaposlenih</th>
            <th width="130">Glavni program</th>
            <th width="160">Akcije</th>
        </tr>
          </thead>
          <tbody>
        <lift:ProgramSnippet.manage>
        <program:entry>
	      <tr>
	        <td><prog:id /></td>
	        <td><prog:naziv /></td>
            <td><prog:opis /></td>
            <td><prog:opciCilj /></td>
            <td><prog:pokazateljUspijeha /></td>
            <td><prog:zakonskaOsnova /></td>
            <td><prog:brojZaposlenih /></td>
            <td><prog:glavniProgram /></td>
            <div class="button">
            <td><prog:actions /></td>
            </div>
	      </tr>
        </program:entry>
        </lift:ProgramSnippet.manage >
          </tbody>
      </table>
      </div>
    <br />

      <div class="button"><lift:Menu.item name="CreateProgram">create</lift:Menu.item></div>
  </div>

</lift:surround>
