<lift:surround with="default" at="content">
    <lift:AktivnostSnippet.edit form="POST">
        <div class="column">
            <div id="entryform">
                <table class="tablesorter">
                    <thead>
                    <th>Uredi: PROGRAM</th>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Id</td>
                        <td>
                            <akt:id/>
                        </td>
                    </tr>
                    <tr>
                        <td>Naziv</td>
                        <td>
                            <akt:naziv/>
                        </td>
                    </tr>
                    <tr>
                        <td>Zakonska osnova</td>
                        <td>
                            <akt:zakonska/>
                        </td>
                    </tr>
                    <tr>
                        <td>Opis</td>
                        <td>
                            <akt:opis/>
                        </td>
                    </tr>
                    <tr>
                        <td>Opci cilj</td>
                        <td>
                            <akt:opciCilj/>
                        </td>
                    </tr>
                    <tr>
                        <td>Program</td>
                        <td>
                            <akt:program/>
                        </td>
                    </tr>
                    <tr>
                        <td>Funkcije</td>
                        <td>
                            <akt:funkcija/>
                        </td>
                    </tr>
                    <tr>
                        <td>Lokacije</td>
                        <td>
                            <akt:mjesto/>
                        </td>
                    </tr>
                    <tr>
                        <td>Izvori</td>
                        <td>
                            <akt:izvor/>
                        </td>
                    </tr>
                    <tr>
                        <td>Pokazatelji uspjeha</td>
                        <td>
                            <akt:pokuspjeha/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="button" align="center">
                                <akt:save/>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </lift:AktivnostSnippet.edit>
</lift:surround>