<lift:surround with="default" at="content">
  <div class="column" align="center">
    <h3>Aktivnost lista:</h3>
    <div id="entryform" >
      <table>
          <thead>
        <tr>
	        <th width="70">Id</th>
	        <th width="100">Naziv</th>
            <th width="130">Zakonska osnova</th>
            <th width="100">Opis</th>
            <th width="100">Opci cilj</th>
            <th width="100">Program</th>
            <th width="100">Funkcije</th>
            <th width="100">Lokacije</th>
            <th width="100">Izvori</th>
            <th width="130">Pokazatelji uspjeha</th>
            <th width="160">Akcije</th>
        </tr>
          </thead>
          <tbody>
        <lift:AktivnostSnippet.manage>
        <aktivnost:entry>
	      <tr>
	        <td><akt:id /></td>
	        <td><akt:naziv /></td>
            <td><akt:zakonska /></td>
            <td><akt:opis /></td>
            <td><akt:opciCilj /></td>
            <td><akt:program /></td>
            <td><akt:funkcija /></td>
            <td><akt:mjesto /></td>
            <td><akt:izvor /></td>
            <td><akt:pokuspjeha /></td>
            <div class="button">
            <td><akt:actions /></td>
            </div>
	      </tr>
        </aktivnost:entry>
        </lift:AktivnostSnippet.manage >
          </tbody>
      </table>
      </div>
    <br />

      <div class="button"><lift:Menu.item name="CreateAktivnost">create</lift:Menu.item></div>
  </div>

</lift:surround>
