<lift:surround with="default" at="content">
    <lift:MjestoSnippet.create form="POST">
        <div class="column span-24">
            <div id="entryform">
                <table class="tablesorter">
                    <thead>
                    <th><td>Novi unos: MJESTO</td></th>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Sifra</td>
                        <td>
                            <mj:id/>
                        </td>
                    </tr>
                    <tr>
                        <td>Naziv</td>
                        <td>
                            <mj:naziv/>
                        </td>
                    </tr>
                    <tr>
                        <td>Pozivni Broj</td>
                        <td>
                            <mj:pozivniBroj/>
                        </td>
                    </tr>
                    <tr>
                        <td>Postanski Broj</td>
                        <td>
                            <mj:postanskiBroj/>
                        </td>
                    </tr>
                    <tr>
                        <td/>
                        <td>
                            <div class="button" align="center">
                                <mj:create/>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </lift:MjestoSnippet.create>
</lift:surround>

