<lift:surround with="default" at="content">
  <div class="column span-24">
    <h3>Lista MJESTA:</h3>
    <div id="entryform">
      <table>
          <thead>
        <tr>
	        <th>Sifra</th>
	        <th>Naziv</th>
            <th>Pozivni Broj</th>
            <th>Postanski Broj</th>
            <th>Akcije</th>
        </tr>
          </thead>
          <tbody>
        <lift:MjestoSnippet.manage>
        <mjesto:entry>
	      <tr>
	        <td><mj:id /></td>
	        <td><mj:naziv /></td>
              <td><mj:pozivniBroj /></td>
              <td><mj:postanskiBroj /></td>
            <td><div class="button"><mj:actions /></div></td>
	      </tr>
        </mjesto:entry>
        </lift:MjestoSnippet.manage>
          </tbody>
      </table>
      </div>
    <br />

      <div class="button">
     <lift:Menu.item name="CreateMjesto">create</lift:Menu.item>
      </div>
  </div>

</lift:surround>
