<lift:surround with="default" at="content">
    <lift:KontoSnippet.edit form="POST">
        <div class="column span-24">
            <h3>Edit:</h3>
            <div id="entryform">
                <table class="tablesorter">
                    <thead>
                    <tr>
                        <th>Sifra</th>
                        <th>Naziv</th>
                        <th>SaldoKonto</th>
                        <th>U uporabi</th>
                        <th>Obveza</th>
                        <th>Potrazivanje</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><ko:id /></td>
                        <td><ko:naziv /></td>
                        <td><ko:saldokonto /></td>
                        <td><ko:uporaba /></td>
                        <td><ko:obveza /></td>
                        <td><ko:potrazivanje /></td>
                        <td><div class="button"><ko:save /></div></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </lift:KontoSnippet.edit>
</lift:surround>