<lift:surround with="default" at="content">
  <div class="column span-24">
    <h3>Konto lista:</h3>
    <div id="entryform">
      <table>
          <thead>
          <tr>
              <th>Sifra</th>
              <th>Naziv</th>
              <th>SaldoKonto</th>
              <th>U uporabi</th>
              <th>Obveza</th>
              <th>Potrazivanje</th>
              <th></th>
          </tr>
          </thead>
          <tbody>
        <lift:KontoSnippet.manage>
        <konto:entry>
            <tr>
                <td><ko:id /></td>
                <td><ko:naziv /></td>
                <td><ko:saldokonto /></td>
                <td><ko:uporaba /></td>
                <td><ko:obveza /></td>
                <td><ko:potrazivanje /></td>
                <td><div class="button"><ko:actions /></div></td>
            </tr>
        </konto:entry>
        </lift:KontoSnippet.manage>
          </tbody>
      </table>
      </div>
    <br />

      <div class="button"><lift:Menu.item name="CreateKonto">create</lift:Menu.item></div>
  </div>

</lift:surround>
