<lift:surround with="default" at="content">
    <lift:PartnerSnippet.edit form="POST">
        <div class="column span-24">
            <div id="entryform">
                <table class="tablesorter">
                    <thead>
                    <th><td>Uredi: RAZDJEL</td></th>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Sifra</td>
                        <td>
                            <par:id/>
                        </td>
                    </tr>
                    <tr>
                        <td>Naziv Partnera</td>
                        <td>
                            <par:naziv/>
                        </td>
                    </tr>
                    <tr>
                        <td>Telefon</td>
                        <td>
                            <par:telefon/>
                        </td>
                    </tr>
                    <tr>
                        <td>Odgovorna Osoba</td>
                        <td>
                            <par:odgovornaOsoba/>
                        </td>
                    </tr>
                    <tr>
                        <td>Fax</td>
                        <td>
                            <par:fax/>
                        </td>
                    </tr>
                    <tr>
                        <td>Ziro Racun</td>
                        <td>
                            <par:ziroracun/>
                        </td>
                    </tr>
                    <tr>
                        <td>OIB</td>
                        <td>
                            <par:oib/>
                        </td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>
                            <par:email/>
                        </td>
                    </tr>
                    <tr>
                        <td>Adresa</td>
                        <td>
                            <par:adresa/>
                        </td>
                    </tr>
                    <tr>
                        <td>Mjesto</td>
                        <td>
                            <par:mjesto/>
                        </td>
                    </tr>
                    <tr>
                        <td/>
                        <td>
                            <div class="button" align="center">
                                <par:save/>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </lift:PartnerSnippet.edit>
</lift:surround>