<lift:surround with="default" at="content">
  <div class="column span-24">
    <h3>Lista PARTNERA:</h3>
    <div id="entryform">
      <table>
          <thead>
        <tr>
	        <th>Sifra</th>
	        <th>Naziv Partnera</th>
            <th>Telefon</th>
            <th>Odgovorna Osoba</th>
            <th>Fax</th>
            <th>Ziro Racun</th>
            <th>OIB</th>
            <th>Email</th>
            <th>Adresa</th>
            <th>Mjesto</th>
            <th>Akcije</th>
        </tr>
          </thead>
          <tbody>
        <lift:PartnerSnippet.manage>
        <partner:entry>
	      <tr>
	        <td><par:id /></td>
	        <td><par:naziv /></td>
              <td><par:telefon /></td>
              <td><par:odgovornaOsoba /></td>
              <td><par:fax /></td>
              <td><par:ziroracun /></td>
              <td><par:oib /></td>
              <td><par:email /></td>
              <td><par:adresa /></td>
              <td><par:mjesto /></td>
            <td><div class="button"><par:actions /></div></td>
	      </tr>
        </partner:entry>
        </lift:PartnerSnippet.manage>
          </tbody>
      </table>
      </div>
    <br />

      <div class="button">
     <lift:Menu.item name="CreatePartner">create</lift:Menu.item>
      </div>

  </div>

</lift:surround>
