<lift:surround with="default" at="content">
    <lift:KorisnikProracunaSnippet.edit form="POST">
        <div class="column span-24">
            <div id="entryform">
                <table class="tablesorter">
                    <thead>
                    <th>Uredi: KORISNIK PRORACUNA</th>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Id</td>
                        <td>
                            <korpro:id/>
                        </td>

                    </tr>
                    <tr>
                        <td>Naziv</td>
                        <td>
                            <korpro:naziv/>
                        </td>
                    </tr>

                    <tr>
                        <td>Glava</td>
                        <td>
                            <korpro:glava/>
                        </td>

                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <div class="button" align="center">
                                <korpro:save/>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </lift:KorisnikProracunaSnippet.edit>
</lift:surround>