<lift:surround with="default" at="content">
  <div class="column span-24">
    <h3>Korisnik proracuna lista:</h3>
    <div id="entryform">
      <table>
          <thead>
        <tr>
	        <th>Id</th>
	        <th>Naziv</th>
            <th>Glava</th>
            <th>Akcije</th>
        </tr>
          </thead>
          <tbody>
        <lift:KorisnikProracunaSnippet.manage>
        <korisnikProracuna:entry>
	      <tr>
	        <td><korpro:id /></td>
	        <td><korpro:naziv /></td>
            <td><korpro:glava /></td>
            <td><div class="button"><korpro:actions /></div></td>
	      </tr>
        </korisnikProracuna:entry>
        </lift:KorisnikProracunaSnippet.manage>
          </tbody>
      </table>
      </div>
    <br />

      <div class="button"><lift:Menu.item name="CreateKorisnikProracuna">create</lift:Menu.item></div>
  </div>

</lift:surround>
