<lift:surround with="default" at="content">
    <lift:IzvodSnippet.edit form="POST">
        <div class="column span-24">
            <h3>Edit:</h3>
            <div id="entryform">
                <table class="tablesorter">
                    <thead>
                    <tr>
                        <th>Sifra</th>
                        <th>Broj Izvoda</th>
                        <th>Datum</th>
                        <th>Iznos</th>
                        <th>Opis</th>
                        <th>Konto</th>
                        <th>Zakljucen</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><iz:id /></td>
                        <td><iz:brojIzvoda/></td>
                        <td><iz:datum /></td>
                        <td><iz:iznos /></td>
                        <td><iz:opis /></td>
                        <td><iz:konto /></td>
                        <td><iz:zakljucen /></td>
                        <td><div class="button"><iz:save /></div></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </lift:IzvodSnippet.edit>
</lift:surround>