<lift:surround with="default" at="content">
  <div class="column span-24">
    <h3>Izvod lista:</h3>
    <div id="entryform">
      <table>
          <thead>
          <tr>
              <th>Sifra</th>
              <th>Broj Izvoda</th>
              <th>Datum</th>
              <th>Iznos</th>
              <th>Opis</th>
              <th>Konto</th>
              <th>Zakljucen</th>
              <th></th>
          </tr>
          </thead>
          <tbody>
        <lift:IzvodSnippet.manage>
        <izvod:entry>
            <tr>
                <td><iz:id /></td>
                <td><iz:brojIzvoda/></td>
                <td><iz:datum /></td>
                <td><iz:iznos /></td>
                <td><iz:opis /></td>
                <td><iz:konto /></td>
                <td><iz:zakljucen /></td>
                <td><div class="button"><iz:actions /></div></td>
            </tr>
        </izvod:entry>
        </lift:IzvodSnippet.manage>
          </tbody>
      </table>
      </div>
    <br />

      <div class="button"><lift:Menu.item name="CreateIzvod">create</lift:Menu.item></div>
  </div>

</lift:surround>
