<lift:surround with="default" at="content">
    <lift:GlavniProgramSnippet.create form="POST">
        <div class="column span-24">
            <div id="entryform">
                <table class="tablesorter">
                    <thead>
                    <th>Novi unos: GLAVNI PROGRAM</th>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Id</td>
                        <td>
                            <glprog:id/>
                        </td>
                    </tr>
                    <tr>
                        <td>Naziv</td>
                        <td>
                            <glprog:naziv/>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <div class="button" align="center">
                                <glprog:create/>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </lift:GlavniProgramSnippet.create>
</lift:surround>