<lift:surround with="default" at="content">
  <div class="column span-24">
    <h3>Glavni Program lista:</h3>
    <div id="entryform">
      <table>
          <thead>
        <tr>
	        <th>Id</th>
	        <th>Naziv</th>
            <th>Akcije</th>
        </tr>
          </thead>
          <tbody>
        <lift:GlavniProgramSnippet.manage>
        <glavniProgram:entry>
	      <tr>
	        <td><glprog:id /></td>
	        <td><glprog:naziv /></td>
            <td><div class="button"><glprog:actions /></div></td>
	      </tr>
        </glavniProgram:entry>
        </lift:GlavniProgramSnippet.manage>
          </tbody>
      </table>
      </div>
    <br />

      <div class="button"><lift:Menu.item name="CreateGlavniProgram">create</lift:Menu.item></div>
  </div>

</lift:surround>
