<lift:surround with="default" at="content">
    <lift:OrgJedinicaSnippet.create form="POST">
        <div class="column span-24">
            <div id="entryform">
                <table class="tablesorter">
                    <thead>
                    <td>Novi unos: ORGANIZACIJSKA JEDINICA</td>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Sifra</td>
                        <td>
                            <oj:id/>
                        </td>
                    </tr>
                    <tr>
                        <td>Naziv</td>
                        <td>
                            <oj:naziv/>
                        </td>
                    </tr>
                    <tr>
                        <td>Korisnik proracuna</td>
                        <td>
                            <oj:korpro/>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <div class="button" align="center">
                                <oj:create/>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </lift:OrgJedinicaSnippet.create>
</lift:surround>