<lift:surround with="default" at="content">
  <div class="column span-24">
    <h3>Organizacijska jedinica lista:</h3>
    <div id="entryform">
        <table>
            <thead>
          <tr>
          <th>Sifra</th>
          <th>Naziv</th>
          <th>Korisnik proracuna</th>
          <th></th>
          </tr>
          </thead>
          <tbody>
        <lift:OrgJedinicaSnippet.manage>
        <orgjed:entry>
            <tr>
                <td><oj:id /></td>
                <td><oj:naziv /></td>
                <td><oj:korpro /></td>
                <td><div class="button"><oj:actions /></div></td>
	      </tr>
        </orgjed:entry>
        </lift:OrgJedinicaSnippet.manage>
        </tbody>
      </table>
      </div>
    <br />

      <div class="button"><lift:Menu.item name="CreateOrgJedinica">create</lift:Menu.item></div>
  </div>

</lift:surround>
