<lift:surround with="default" at="content">
  <div class="column span-24">
    <h3>Lista funkcija:</h3>
    <div id="entryform">
      <table>
          <thead>
        <tr>
	        <th>Sifra</th>
	        <th>Naziv</th>
            <th>Akcije</th>
        </tr>
          </thead>
          <tbody>
        <lift:FunkcijaSnippet.manage>
        <funkcija:entry>
	      <tr>
	        <td><fja:id /></td>
	        <td><fja:naziv /></td>
            <td><div class="button"><fja:actions /></div></td>
	      </tr>
        </funkcija:entry>
        </lift:FunkcijaSnippet.manage>
          </tbody>
      </table>
      </div>
    <br />

      <div class="button">
     <lift:Menu.item name="CreateFunkcija">create</lift:Menu.item>
      </div>
  </div>

</lift:surround>
